body {
  font-family: sans-serif;
  line-height: 1.4;
}

body > header, body > main, body > footer {
  margin: 0 auto;
  max-width: 40rem;
}

body > footer {
  margin-top: 2rem;
  text-align: right;
}

body > header > h1 {
  font-size: 300%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.conjunction, .disjunction {
  list-style: none;
}

.conjunction > li:before {
  content: '∧';
  float: left;
}

.disjunction > li:before {
  content: '∨';
  float: left;
}

.conjunction > li.negation:before {
  content: '∧⌐';
  float: left;
}

.disjunction > li.negation:before {
  content: '∨⌐';
  float: left;
}
