<!doctype html>
<html lang=EN>
  <head>
    <meta charset=UTF-8>
    <title>{{page.title}}</title>
    <link href=/styles.css rel=stylesheet>
    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{page.title}}">
    <meta name="twitter:description" content="{{page.description}}">
    <meta name="twitter:image" content="{{site.image}}">
    <!-- OpenGraph -->
    <meta name="og:type" content="website">
    <meta name="og:title" content="{{page.title}}">
    <meta name="og:description" content="{{page.description}}">
    <meta name="og:site" content="{{site.title}}">
    <meta name="og:image" content="{{site.image}}">
  </head>
  <body>
    <header>
      <h1>{{page.title}}</h1>
    </header>
    <main>
{{content}}
    </main>
    <footer>
      <p>Original content of this site &copy; Kyle E. Mitchell</p>
      <p><a href=/>reference.kemitchell.com</a></p>
      <p><a href=https://github.com/kemitchell/reference.kemitchell.com/blob/master/pages/BASENAME.md>Source on GitHub</a></p>
    </footer>
  </body>
</html>
